[submodule "HRG"]
	path = HRG
	url = https://github.com/shiningsunnyday/HRG.git
[submodule "my_data_efficient_grammar"]
	path = my_data_efficient_grammar
	url = https://github.com/shiningsunnyday/my_data_efficient_grammar
[submodule "CktGNN"]
	path = CktGNN
	url = https://github.com/shiningsunnyday/CktGNN.git
[submodule "dagnn"]
	path = dagnn
	url = https://github.com/shiningsunnyday/DAGNN.git
