[submodule "Subdue"]
	path = Subdue
	url = https://github.com/holderlb/Subdue.git
[submodule "D-VAE"]
	path = D-VAE
	url = https://github.com/muhanzhang/D-VAE.git
[submodule "HRG"]
	path = HRG
	url = https://github.com/shiningsunnyday/HRG.git
[submodule "my_data_efficient_grammar"]
	path = my_data_efficient_grammar
	url = https://github.com/gmh14/my_data_efficient_grammar.git
[submodule "RevTrack"]
	path = RevTrack
	url = https://github.com/MITIBMxGraph/RevTrack.git
[submodule "dagnn"]
	path = dagnn
	url = https://github.com/vthost/DAGNN.git
[submodule "CktGNN"]
	path = CktGNN
	url = https://github.com/zehao-dong/CktGNN.git
